#container{
	width: 2000px;
}

#cookies{
	height: 72px;
	width: 2000px;
	background-color: #194277;
	font-family: ﻿Lato, sans-serif;
	font-size: 14pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	margin: auto;
}

.cookies_text{
	position: relative;
	padding-top: 25px;
	padding-left: 600px;
}

#header{
	height: 800px;
	width: 2000px;
	background-color: #469dff;
	font-family: ﻿Lato, sans-serif;
	font-size: 14pt;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}

.button{
	font-family: ﻿Lato, sans-serif;
	font-size: 22pt;
	text-align: center;
	padding-left: 600px;
	margin-top: -32px;
	}

#about{
	height: 405px;
	width: 2000px;
}
#expert{
	height: 1145px;
	width: 2000px;
}	
#last_works{
	height: 500px;
	width: 2000px;
}
#clients{
	height: 363px;
	width: 2000px;
}
#ready{
	height: 247px;
	width: 2000px;
}

#circle{
	background-color: white;
	width: 141px;
	height: 141px;
	border-radius: 75px;
	position: relative;
	margin-left: 929px;
}

#menu{
	height: 115px;
}

#header_text{
font-size: 35pt;

font-family: Lato, black, bold, sans-serif;

height: 98px;

width: 809px;

margin-left: 595px;
position:relative;
}

#header_desc{
	height: 50px;
	width: 765px;
	margin-left: 618px;
	margin-top:50px;
}

#hire{
position: relative;
margin-top: 55px;
width: 204px;
height: 55px;
margin-left: 855px;
text-align: center;
background-image: url(../images/button.png);
background-size: contain;
color:#3695ff;

}

.text{
position: absolute;

top: 25%;

left: 30%;
}

#arrow{
background-image: url(../images/arrow.png);
width: 19px;
height: 32px;
margin-left: 991px;
margin-top: 60px;
}

#about_me{
	height: 38px;
	width: 210px;
	position: relative;
	margin-left: 895px;
	margin-top: 100px;
	font-family: ﻿Lato, Regular;
	font-size: 31pt;
	color: rgba(54, 119, 253, 255);
	text-align: center;
}

#about_text{
	height: 85px;
	width: 1067px;
	margin-left: 467px;
	text-align: center;
	margin-top: 100px;
	font-family: ﻿Lato, Regular;
	font-size: 16pt;
	color: rgba(90, 90, 90, 255);
}

#expert{
		background-color:#f1f8ff;
}

#expert_in{
	height: 45px;
	width: 200px;
	position: relative;
	margin-left: 895px;
	font-family: Lato, Regular;
	font-size: 31pt;
	color: rgba(54, 119, 253, 255);
	text-align: center;
	padding-top: 99px;
}

#expert_text{
	height: 85px;
	width: 1067px;
	margin-left: 467px;
	text-align: center;
	margin-top: 100px;
	font-family: ﻿Lato, Regular;
	font-size: 16pt;
	color: rgba(90, 90, 90, 255);
}

.expert_block1{
	width: 355px;
	height: 340px;
	position: relative;
	margin-left: 433px;
	margin-top: 75px;
}

.expert_block2{
width: 330px;

height: 340px;

margin-left: 849px;

margin-top: -340px;

}

.expert_block3{
width: 355px;
height: 340px;
margin-left: 1249px;
margin-top: -340px;
}

#two{
	margin-top: 100px;
}